.ar {
    text-align: center;
    animation: slide-in 1s ease-in-out;
    color: black;
    background: transparent;
    border-radius: 15px;
    padding: 20px;
    border: 1.5px solid black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.animated-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.iframe-view {
    width: 400px;
    height: 300px;
    border: none;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.iframe-view.hidden {
    display: none;
}

.iframe-view.fade-in {
    animation: fadeIn 1s ease-in;
}

.animated-container:hover .iframe-view {
    transform: scale(1.05);
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
