body{
  background-image: url('https://ready.so/images/Sand-Texture.webp');
  color: #fff;
  font-family: GT Walsheim, sans-serif;
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  display: none;
}
